// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out(#555555, .2)} 0%, #{fade-out(#555555, .2)} 100%),
  url('../img/bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  p {
    font-size: 1.0rem;
    font-family: 'Gothic+A1', sans-serif;
  }
  h1 {
    font-size: 2.25rem;
  }

  #scroll-down {
    background: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: $secondary;
    }

    p {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 5px;
    }

    i {
      font-size: 18px;
      -webkit-animation: mover 0.5s infinite alternate;
      animation: mover 0.5s infinite alternate;

      @-webkit-keyframes mover {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-5px);
        }
      }

      @keyframes mover {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-5px);
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 6.5rem !important;
  }

  @include media-breakpoint-up(lg) {
    height: 105vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;

    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }

    span {
      font-size: 0.85rem;
    }
  }

  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }

    span {
      font-size: 1.2rem;
    }
  }
}